configuration {
 modi: "drun,filebrowser,combi";
 combi-modi: "drun";
 font: "Fira Code Nerd Font 12";
 show-icons: true;
 display-drun: " ";
 display-combi: "";
 display-window: " ";
}
@theme "vzon.rasi"
