configuration {
 modi: "windowcd,drun,filebrowser,combi";
 combi-modi: "windowcd,drun";
 font: "Fira Code Nerd Font 12";
 show-icons: true;
 display-drun: " ";
 display-windowcd: " ";
}
@theme "vzon.rasi"
