[Unit]
Description=The fucking waybar
PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=exec
ExecStart=waybar

[Install]
WantedBy=graphical-session.target
