* {
  all: unset;
  font-family: 'FiraCode Nerd Font Mono Light';
}

.box-el {
  background-color: rgba(0, 0, 0, 0.9);
}

button{
  transition: background-color 0.2s;

  &:hover{
    background-color: rgb(66, 12, 210);
  }

  &:active{
    background-color: rgba(22, 6, 63, 0.6);
  }
}

@keyframes color-change {
  from {
    color: initial;
  }
  to {
    color: #5311d6;
  }
}

.greeter {
    animation: color-change infinite alternate 5s;
}

.main {
  border-left: 3px solid #11d5ba;
  background-color: #150524;
}
