* {
  all: unset;
  font-family: 'FiraCode Nerd Font Mono Light';
}

.bar{
  border-radius: 5px;
}

.box-el {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.8);
}

.text-label{
  border-bottom: 3px solid #055222;
}

button{
  transition: background-color 0.2s;

  &:hover{
    background-color: rgba(66, 12, 210, 0.8);
  }
  &:active{
    background-color: rgba(22, 6, 63, 1);
  }
}



.greeter{
  .text-label{
    margin: 10px;
  }
  color: #055222;
}

.main {
  background-color: #150524;
}
